<h1>プロフィール</h1>
<p>プロフィールを表示する</p>

<%= link_to "home", root_path %>
<%= link_to "Log_in", user_login_path %>
<%= link_to "Sign_Up", user_create_path %>
<%= link_to "My_Profile", user_show_path %>
<%= link_to "tweet", tweet_new_path %>